[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["all"], version = "*"}
tmdbv3api = "*"
pillow = "*"
django-dotenv = "*"
tzdata = "*"
sqlparse = "*"
psycopg2 = "*"
django-resized = "*"

[dev-packages]

[requires]
python_version = "3.8"
