[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["all"], version = "*"}
tmdbv3api = "*"
pillow = "*"
django-dotenv = "*"
tzdata = "*"
sqlparse = "*"
django-resized = "*"
django-dbbackup = "==1.9.0"
mod-wsgi = "*"
django-pipeline = "*"
requests = "*"
jsmin = "*"

[dev-packages]

[requires]
python_version = "3.8"
