<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tailwindcss/flixapp.css' %}">
    <script src="{% static 'main/js/lazyload.js' %}"></script>
    <title>films - {{ page }} </title>
</head>
<body class="bg-gradient-to-tl overflow-x-hidden from-letterboxd-1 to-letterboxd-2 max-w-screen min-h-screen">
    {% include "main/navbar.html" %}
    <div class="mt-28  text-white mx-6 sm:mx-12 md:mx-24 lg:mx-52">

        <div id="use" class="flex rounded-lg mt-16 bg-gray-400/10 backdrop-blur-md px-3 py-2 drop-shadow-lg shadow-black gap-x-5 text-2xl">
       
            <a href="{% url 'profiles:user_profile' search_user.username %}"> <img class="w-8 gap-10 object-cover rounded-full" src="{{ search_user.profile.profile_picture.url }}"></a>
            <a href="{% url 'profiles:user_profile' search_user.username %}"> <div id="username" class="font-myfont tracking-wide"> {{ search_user.username }} </div></a>
         
        </div>

        {% block content %}
        {% endblock %}

    </div>
    
</body>
 <script src="{% static 'main/js/utilitesFunction.js' %}"></script>
 <script src="{% static 'films/js/ratings.js' %}"></script>
 <script src="{% static 'main/js/navbar.js' %}"></script>
</html>