<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'tailwindcss/flixapp.css' %}">
    <link rel="stylesheet" href="{% static 'films/css/style.css' %}">
    <script src="{% static 'main/js/lazyload.js' %}"></script>
    <title>Welcome Page of my App</title>

</head>

<body class="bg-letterboxd-1 font-myfontLight text-letterboxd-6 overflow-x-hidden scrollbar-none">
    {% include 'main/navbar.html' %}


    <div class="relative flex-cols">
        <img data-src="https://image.tmdb.org/t/p/original{{movie.backdrop_path}}"
            src="https://image.tmdb.org/t/p/w200{{movie.backdrop_path}}"
            class="lozad h-64  mt-10 w-full object-cover gradient-mask-b-40 z-0 absolute md:h-[500px]">
        <div class="relative bg-transparent z-10">
            <div class="relative h-52 md:h-96">

                <button class="z-50 absolute bg-white h-6 w-6 rounded-full top-12 right-4 shadow shadow-black">

                </button>

            </div>

            <div class="flex gap-9 justify-evenly md:justify-center md:gap-48 p-4">

                <div id="movie-info" class="">
                    <div class="text-white leading-7 font-abrilbold text-2xl md-text-3xl">
                        {{ movie.title }}
                    </div>
                    <div class="mt-2 text-letterboxd-6 text-sm font-myfontLight tracking-wide">
                        {{ release_year }} • DIRECTED BY<br>

                    </div>
                    <div class="font-myfont">{{ director }}</div>
                    <div class="mt-4 flex gap-3">
                        <button onclick="window.location.href = '{{trailer_link}}';"
                            class="flex items-center bg-letterboxd-3 tracking-widest text-xs py-1 px-3 rounded-md font-bold">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-3 h-3">
                                <path fill-rule="evenodd"
                                    d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z"
                                    clip-rule="evenodd" />
                            </svg>
                            <span> Trailer </span>
                        </button>
                        <span>
                            {{movie.runtime}} mins
                        </span>
                    </div>
                </div>

                <div>
                    <div
                        class="w-28 md:w-32 card relative rounded-md md:rounded-md  shadow-inner shadow-blue-500 overflow-hidden">
                        <a href="">
                            <img class="lozad object-cover"
                                data-src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
                                src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}">
                        </a>
                        <div
                            class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="px-5 sm:px-12 md:px-32 md:text-lg font-myfontLight">

            <div id="content" class="flex flex-col md:px-24">

                <div id="tagline" class="text-sm md:text:md tracking-widest font-bold text-letterboxd-6">
                    {{ movie.tagline }}
                </div>
                <div id="synopsis" class="mt-4 font-abrilbold font-extralight pt-0">
                    {{ movie.overview }}
                </div>



                <div id="rating_graph" class="text-sm mt-12">
                    <div class="mb-2 pb-2 border-b border-letterboxd-3 flex justify-between">
                        <span> RATINGS </span>
                        <span> 65.k FANS </span>
                    </div>

                    <div class='flex justify-between'>
                        <div class="h-12 w-100 bg-letterboxd-3">
                        </div>
                    </div>
                </div>

                {% if user.is_authenticated %}
                <div>
                    <button id="maction" class="w-full">
                        <div
                            class="bg-letterboxd-3 text-letterboxd-6 py-2 hover:shadow-lg hover:shadow-black rounded-md mt-12 px-4 flex items-center gap-3">
                            <img class="w-6  object-cover rounded-full" src="{{ user.profile.profile_picture.url }}">
                            <div class="text-xs">Rate, log, Review + add to list + more </div>
                        </div>
                    </button>
                    {% include 'films/movie_navigation.html' %}
                </div>
                {% endif %}



                <div class="cast-crew-div">
                    <div class="mb-3 text-letterboxd-4 mt-12 border-b border-letterboxd-3 flex gap-3 font-myfontLight">
                        <div class=""> CAST </div>
                        <div> CREW </div>
                    </div>
                    <div id="cast" class="flex flex-wrap gap-3">
                        {% for cast in movie.casts.cast %}
                        <div
                            class="bg-gray-700 text-xs sm:text-sm md:text-md rounded-md shadow-md shadow-black y-1 px-2">
                            {{cast.original_name}}</div>
                        {% endfor %}
                    </div>
                    <div id="crew" ,class="hidden">
                    </div>
                </div>
                {% if reviews_len == 0%}

                <div
                    class="flex justify-center text-xs sm:text-sm md:text-md lg:text-lg font-myfontLight mt-12 py-4 border-y border-letterboxd-3">
                    No Reviews Yet our site is new :D be first one to do so
                </div>

                {% else %}
                <div id="populer_reviews" class="mt-28 border-letterboxd-3">
                    <div class="flex justify-between py-1 border-b border-letterboxd-3">
                        <div class="text-sm"> POPULAR REVIEWS </div>
                        <div> more </div>
                    </div>
                    {% for review in reviews %}
                    <div id="review_card" class="pt-3 pb-6 border-b border-letterboxd-3">
                        <div if="reviewer" class="mb-3 text-sm tracking-wide flex gap-2 items-center">
                            <img class="w-6 object-cover rounded-full"
                                src="{{ review.review_by.profile.profile_picture.url }} ">
                            <div class="text-letterboxd-3 text-xs font-myfontLight" id="username">Review by <span
                                    class="font-myfont text-letterboxd-6"> {{review.review_by.username }} </span> </div>
                        </div>
                        <div id="review" class="text-sm text-gray-400  font-abril font-light">
                            {{ review.review }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if user.is_authenticated %}
                <div id="your_reviews" class="mt-12 border-letterboxd-3">
                    <div class="flex justify-between py-1 border-b border-letterboxd-3">
                        <div class="text-sm">Your Reviews</div>
                        <div> more </div>
                    </div>
                    {% for review in my_reviews %}
                    <div id="review_card" class="pt-3 pb-6 border-b border-letterboxd-3">
                        <div if="reviewer" class="mb-3 text-sm tracking-wide flex gap-2 items-center">
                            <img class="w-6 object-cover rounded-full"
                                src="{{ review.review_by.profile.profile_picture.url }} ">
                            <div class="text-letterboxd-3 text-xs font-myfontLight" id="username">Review by <span
                                    class="font-myfont text-letterboxd-6"> {{review.review_by.username }} </span> </div>
                        </div>
                        <div id="review" class="text-sm text-gray-400  font-abril">
                            {{ review.review }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endif %}

                <div class="mt-14">
                    <div class="font-myfontLight text-letterboxd-3 pb-2 border-b border-letterboxd-3">
                        Similer Movies
                    </div>

                    <div class="flex mt-3 scrollbar-none w-full overflow-x-auto gap-x-3">
                        {% for smovies in similar_movies %}
                        <div class="w-24 sm:w-28 md:w-32 grow-0 shrink-0">
                            <div
                                class="card relative hover:scale-95 duration-300 hover:shadow-[0_2.8px_2.2px_rgba(0,_0,_0,_0.034),_0_6.7px_5.3px_rgba(0,_0,_0,_0.048),_0_12.5px_10px_rgba(0,_0,_0,_0.06),_0_22.3px_17.9px_rgba(0,_0,_0,_0.072),_0_41.8px_33.4px_rgba(0,_0,_0,_0.086),_0_100px_80px_rgba(0,_0,_0,_0.12)] hover:shadow:black rounded-md md:rounded-lg  shadow-inner shadow-blue-500 overflow-hidden">
                                <a href="{% url 'filmsabout:film' smovies.id %}">
                                    <img class="object-cover lozad"
                                        data-src="https://image.tmdb.org/t/p/original{{ smovies.poster_path }}"
                                        src="https://image.tmdb.org/t/p/w200{{ smovies.poster_path }}">

                                    <div
                                        class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                                    </div>
                                </a>
                            </div>

                        </div>
                        {% endfor %}

                    </div>

                </div>


            </div>


        </div>
    </div>


    <div id="movie-review-log"
    class="px-5 hidden text-myfontLight fixed z-50 bg-transparent top-0 flex justify-center items-center h-screen w-screen">
    
    <form action="/film/reviewadd" method="post">
            {% csrf_token %}
            <div class="bg-letterboxd-3 drop-shadow-lg shadow-black p-3 rounded-md">
                <div class="flex items-start gap-3 ">
                    <div>
                        <div
                            class="w-20 card relative rounded-md md:rounded-md  shadow-inner shadow-blue-500 overflow-hidden">
                            <a href="">
                                <img class="object-cover lozad"
                                    data-src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
                                    src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}">
                            </a>
                            <div
                                class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col text-white ">
                        <div class="font-abrilbold text-2xl">{{ movie.title }} <span
                                class="font-myfontLight">{{ release_year }}</span></div>
                        <div class="mt-1 font-myfontLight text-bold tracking-wider"> <input checked type="checkbox"
                                name="shouldlog" id="">
                            Watched on (add to diary) <input
                                class="focus:outline-none text-letterboxd-6 bg-letterboxd-2 rounded-sm p-1 text-xs"
                                type="date" name="date" id="datePicker">
                        </div>
                    </div>
                    <div class="">
                        <button id="review-cancel-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div>
                    <textarea name="review"
                        class="focus:outline-none mt-4 text-black font-myfontLight p-3 peer block min-h-[auto] w-full rounded border-0 bg-white py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                        id="reiview" rows="4" placeholder="Your review"></textarea>
                    <input type="hidden" name="tmdb_id" value="{{ movie.id }}">
                    <input type="hidden" name="title" value="{{ movie.title }}">
                    <input type="hidden" name="poster_path" value="{{ movie.poster_path }}">
                    <input type="hidden" name="director" value="{{ director }}">
                    <div class="mt-3">
                        <button class="bg-letterboxd-4 font-myfont trakinking widest py-1 px-2 rounded-sm"
                            type="submit">SAVE</button>
                    </div>
                </div>
        </form>
    </div>



    </div>
    {% include 'main/footer.html' %}

</body>
<script src="//cdn.jsdelivr.net/npm/eruda"></script>
<script>
    eruda.init();
</script>
<script src="{% static 'main/js/utilitesFunction.js' %}"></script>
<script src="{% static 'films/js/script.js' %}"></script>
<script src="{% static 'films/js/ratings.js' %}"></script>
<script src="{% static 'main/js/navbar.js' %}"></script>

</html>