<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
{% load reviews_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'tailwindcss/flixapp.css' %}">
    <link rel="stylesheet" href="{% static 'films/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'films/css/chart.css' %}">
    <script src="{% static 'main/js/lazyload.js' %}"></script>
    <title>film - {{ movie.title }}</title>

</head>

<body
    class="bg-letterboxd-1 font-myfontLight text-letterboxd-6 overflow-x-hidden scrollbar-thin scrollbar-track-transparent scrollbar-thumb-letterboxd-2">
    {% include 'main/navbar.html' %}


    <main class="relative flex-cols mt-10 md:mt-0 ">

        <img alt="{{movie.id}}" data-src="https://image.tmdb.org/t/p/original{{movie.backdrop_path}}"
            src="https://image.tmdb.org/t/p/w200{{movie.backdrop_path}}"
            class="lozad h-64  w-full object-cover gradient-mask-b-40 z-0 absolute md:h-[500px]">

        <div id="empty-space-for-image" class="relative h-52 md:h-96">
        </div>



        <section class="px-8 md:px-16 lg:mx-24 grid  grid-cols-1 md:grid-cols-2 gap-10  md:text-lg font-myfontLight">


            <section id="movie_intro" class="col-span-full relative bg-transparent z-10">
                <div class="flex gap-4 justify-evenly md:justify-center md:gap-48 ">

                    <div id="movie-info" class="">
                        <div class="text-white leading-7 font-abrilbold text-2xl md-text-3xl">
                            {{ movie.title }}
                        </div>
                        <div class="mt-2 text-letterboxd-6 text-sm font-myfontLight tracking-wide">
                            {{ release_year }} • DIRECTED BY<br>

                        </div>
                        <div class="font-myfont">{{ director }}</div>
                        <div class="mt-4 flex gap-3">
                            <button onclick="window.location.href = '{{trailer_link}}';"
                                class="flex items-center bg-letterboxd-3 tracking-widest text-xs py-1 px-3 rounded-md font-bold">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="w-3 h-3">
                                    <path fill-rule="evenodd"
                                        d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span> Trailer </span>
                            </button>
                            <span>
                                {{movie.runtime}} mins
                            </span>
                        </div>
                    </div>

                    <div>
                        <div
                            class="w-28 md:w-32 card relative rounded-md md:rounded-md  shadow-inner shadow-blue-500 overflow-hidden">
                            <a href="">
                                <img alt="{{movie.title}}" class="lozad object-cover"
                                    data-src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
                                    src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}">
                            </a>
                            <div
                                class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section id="content synopsis_tagline" class="flex flex-col ">

                <div id="tagline" class="text-sm md:text:md tracking-widest font-bold text-letterboxd-6">
                    {{ movie.tagline }}
                </div>
                <div id="synopsis" class="mt-4 font-abril font-extralight pt-0">
                    {{ movie.overview }}
                </div>
            </section>

            <section id="rating_graph" class="text-sm self-start flex  gap-3 flex-col">
                <div class="mb-2 pb-2 border-b border-letterboxd-3 flex justify-between">
                    <span> RATINGS </span>
                    <span> watched by {% watched_by_count movie.id %} </span>
                </div>
                <div class="flex gap-3">
                    <div id="chart"></div>
                    <div id=" rating" class="flex flex-col justify-center items-center ">
                        <span class="text-4xl font-myfontLight">{% getAvgRating movie.id %}</span>
                        <span class="text-sm text-letterboxd-3">Rating</span>
                    </div>
                </div>
                {% if friends_activity_len != 0 %}
                <section id="activity_from_friend" class="">
                    <div
                        class="text-sm font-myfontLight text-letterboxd-3 border-b border-letterboxd-2 py-1 flex overflow-x-auto scrobar-none justify-between">
                        <h1 class="">Activity
                            from
                            friends
                        </h1>
                        <div>
                            {% if watched_len != 0%}
                            <span>{{ watched_len}} watched </span>
                            {% endif %}
                            {% if watchlist_len != 0 %}
                            <span>{{ watchlist_len}} wants to watch </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex py-3 gap-4 border-b border-letterboxd-2">
                        {% for friend in friends_watched %}
                        <div class="flex flex-col items-center gap-1">
                            <a href="{% url 'profiles:user_profile' friend.friend.username %}"> <img
                                    class="w-12 gap-10 object-cover rounded-full"
                                    src="{{ friend.friend.profile.profile_picture.url }}"></a>
                            <div class="font-starrating text-letterboxd-3 text-[10px]">
                                {% rating_to_stars friend.friend movie.id as stars %}
                                <div id="stars" class="flex">
                                    {% for star in stars %}
                                    <span>{{ star }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% for friend in friends_watchlisted %}
                        <div class="flex flex-col items-center gap-1">
                            <div class=" relative flex flex-col items-center ">
                                <a href="{% url 'profiles:user_profile' friend.username %}"> <img
                                        class="w-12 gap-10 object-cover rounded-full overflow-hidden"
                                        src="{{ friend.profile.profile_picture.url }}"></a>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="black"
                                    class="fill-letterboxd-4 absolute w-4 h-4 right-0 top-0">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>


                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </section>
                {% endif %}
            </section>


            {% if user.is_authenticated %}
            <section id="rate_log_reveiw_section">
                <button id="" class="w-full">
                    <div
                        class="bg-letterboxd-3 text-letterboxd-6 py-2 hover:shadow-lg hover:shadow-black rounded-md px-4 flex items-center gap-3">
                        <img class="w-6  object-cover rounded-full" src="{{ user.profile.profile_picture.url }}">
                        <div class="text-xs sm:text-sm md:text-md lg:text-lg">Rate, log, Review + add to list + more
                        </div>
                    </div>
                </button>
                {% include 'films/movie_navigation.html' %}
            </section>
            {% endif %}



            <section id="this_is_cast_crew_section" class="cast-crew-div">
                <div class="mb-3 border-b border-letterboxd-3 flex gap-3 font-myfontLight">
                    <div class="text-letterboxd-4"> CAST </div>
                    <div> CREW </div>
                </div>
                <div id="cast" class="flex flex-wrap gap-3">
                    {% for cast in movie.casts.cast %}
                    <div class="bg-gray-700 text-xs hover:bg-opacity-60 sm:text-sm md:text-md rounded-sm shadow-black y-1 px-1">
                       <a href="{% url 'filmsabout:actor' cast.id %}">{{cast.original_name}}</a> 
                    </div>
                    {% endfor %}
                </div>
                <div id="crew" ,class="hidden">
                </div>
            </section>



            <section id="this_is_review_section" class="col-span-full">
                {% if reviews_len == 0%}
                <div
                    class="flex justify-center text-xs sm:text-sm md:text-md lg:text-lg font-myfontLight py-4 border-y border-letterboxd-3">
                    No Reviews Yet our site is new :D be first one to do so
                </div>
                {% else %}
                <div id="populer_reviews" class=" border-letterboxd-3">
                    <div class="flex text-sm font-myfontLight justify-between  border-b border-letterboxd-3">
                        <div class=""> POPULAR REVIEWS </div>
                        <div> more </div>
                    </div>
                    {% for review in reviews %}
                    <div id="review_card" class="pt-3 border-b border-letterboxd-3">
                        <div if="reviewer" class="mb-3 text-sm tracking-wide flex gap-2 items-center">
                            <img class="w-6 object-cover rounded-full"
                                src="{{ review.review_by.profile.profile_picture.url }} ">
                            <div class="text-letterboxd-3 text-xs font-myfontLight" id="username">Review by <span
                                    class="font-myfont text-letterboxd-6"> {{review.review_by.username }} </span> </div>
                            {% rating_to_stars review.review_by movie.id as stars %}
                            <div class="rating text-xs text-letterboxd-4 font-starrating flex">
                                {% for star in stars %}
                                <span> {{star}} </span>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="review" class="text-sm text-gray-400  font-abril font-light mb-4">
                            {{ review.review }}
                        </div>
                        {% if user.is_authenticated %}
                        <div id="review-like"
                            class="flex gap-2 items-center  mb-4 text-sm text-gray-400  font-myfontLight font-light">
                            <label for="{{ forloop.counter }}">
                                <svg id="review-like-btn" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                    class=" stroke-letterboxd-3 w-4 h-4 review-icon-{{forloop.counter}} {% is_review_liked user review 'fill-letterboxd-5' '' %}">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                                </svg>
                                <input type="checkbox" {% is_review_liked user review 'checked' 'unchecked' %}
                                    data-username="{{ user.username }}" data-review_id="{{ review.id }}" name=""
                                    id="{{ forloop.counter }}" class="like-review-btn hidden">
                            </label>
                            {% if review.liked_by.count == 0 %}
                            <span class="text-letterboxd-3 text-sm">No likes Yet</span>
                            {% else %}
                            <span class="text-letterboxd-3 text-sm"> {{ review.liked_by.count }} Likes</span>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% if user.is_authenticated %}
                {% if my_reviews %}
                <div id="your_reviews" class="mt-12 border-letterboxd-3">
                    <div class="flex text-sm font-myfontLight justify-between py-1 border-b border-letterboxd-3">
                        <div class="">Your Reviews</div>
                        <div> more </div>
                    </div>
                    {% for review in my_reviews %}
                    <div id="review_card" class="pt-3 border-b border-letterboxd-3">
                        <div if="reviewer" class="mb-3 text-sm tracking-wide flex gap-2 items-center">
                            <img class="w-6 object-cover rounded-full"
                                src="{{ review.review_by.profile.profile_picture.url }} ">
                            <div class="text-letterboxd-3 text-xs font-myfontLight" id="username">Review by <span
                                    class="font-myfont text-letterboxd-6"> {{review.review_by.username }} </span> </div>
                        </div>
                        <div id="review" class="text-sm text-gray-400  font-abril mb-4">
                            {{ review.review }}
                        </div>
                        <div id="review-like"
                            class="flex gap-2 items-center  mb-4 text-sm text-gray-400  font-myfontLight font-light">
                            <label for="my-{{ forloop.counter }}">
                                <svg id="my_review-like-btn" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                    class=" stroke-letterboxd-3 w-4 h-4 my_review-icon-{{forloop.counter}} {% is_review_liked user review 'fill-letterboxd-5' '' %}">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                                </svg>
                                <input type="checkbox" {% is_review_liked user review 'checked' 'unchecked' %}
                                    data-username="{{ user.username }}" data-review_id="{{ review.id }}" name=""
                                    id="my-{{ forloop.counter }}" class="my_like-review-btn hidden">
                            </label>
                            {% if review.liked_by.count == 0 %}
                            <span class="text-letterboxd-3 text-sm">No likes Yet</span>
                            {% else %}
                            <span class="text-letterboxd-3 text-sm"> {{ review.liked_by.count }} Likes</span>
                            {% endif %}
                        </div>


                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endif %}
                {% endif %}
            </section>


            <section id="similer_movies" class="">
                <div class="font-myfontLight text-letterboxd-3 pb-2 border-b border-letterboxd-3">
                    Similar Movies
                </div>

                <div class="flex mt-3 scrollbar-none w-full overflow-x-auto gap-x-3">
                    {% for smovies in similar_movies %}
                    {% if smovies.poster_path == None %}
                    {% else %}
                    <div class="w-24 sm:w-28 md:w-32 grow-0 shrink-0">
                        <div
                            class="card relative hover:scale-95 duration-300 hover:shadow-[0_2.8px_2.2px_rgba(0,_0,_0,_0.034),_0_6.7px_5.3px_rgba(0,_0,_0,_0.048),_0_12.5px_10px_rgba(0,_0,_0,_0.06),_0_22.3px_17.9px_rgba(0,_0,_0,_0.072),_0_41.8px_33.4px_rgba(0,_0,_0,_0.086),_0_100px_80px_rgba(0,_0,_0,_0.12)] hover:shadow:black rounded-md md:rounded-lg  shadow-inner shadow-blue-500 overflow-hidden">
                            <a href="{% url 'filmsabout:film' smovies.id %}">
                                <img alt="{{ smovies.title }}" class="object-cover lozad"
                                    data-src="https://image.tmdb.org/t/p/original{{ smovies.poster_path }}"
                                    src="https://image.tmdb.org/t/p/w200{{ smovies.poster_path }}">

                                <div
                                    class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)]  shadow-white top-0 left-0 right-0 bottom-0">
                                </div>
                            </a>
                        </div>

                    </div>
                    {% endif %}
                    {% endfor %}

                </div>

            </section>

            <section id="watch_providers">
                <div class="border-x-2 border-b-2 border-letterboxd-3 rounded-md">
                    <h1 class="text-sm font-myfontLight bg-letterboxd-3 text-white p-2 ">Where To Watch</h1>
                    {% if watch_provider %}
                     {% for provider in watch_provider %}
                    <div class="p-3 flex gap-4 text-sm">
                        <img src="https://image.tmdb.org/t/p/original{{provider.logo_path}}" class="w-4 object-fill">
                        <h1> {{provider.provider_name }} </h1>
                    </div>
                     {% endfor %}
                    {% else %}
                        <div class="p-3 flex gap-4">Not Streaming... </div>
                    {% endif %}
                </div>
            </section>
        </section>




        <div id="your-lists-to-add add-to-list"
            class="hidden z-50 bg-gradient-to-tl rounded-md  shadow-md shadow-black overflow-x-hidden from-[#2A394E] to-[#0E0E0F]  p-4 fixed w-screen md:w-auto  top-0 left-0">
            <div class="flex justify-between text-letterboxd-6 md:gap-12  text-2xl border-b boreder-letterboxd-2 py-1">
                <h1 class="">Your lists</h1>
                <div class="flex items-center gap-2">
                    <span>Create New</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>

                </div>
            </div>
            <div class="flex flex-col my-2 gap-1 max-h-48">
                {% for list in user_lists %}
                <div class="flex justify-between md:gap-28 border-b border-letterboxd-2">
                    <div class="font-abril text-white text-lg">{{ list.name }}</div>
                    <svg id="" data-movie_id="{{ movie.id }}" data-list_id="{{list.id}}"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6 add-movie-into-list hover:stroke-blue-300">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>

                </div>
                {% endfor %}
            </div>
        </div>



        <div id="movie-review-log"
            class="px-5 hidden text-myfontLight fixed z-50 bg-transparent top-0 flex justify-center items-center h-screen w-screen">

            <form action="/film/reviewadd" method="post">
                {% csrf_token %}
                <div class="bg-letterboxd-3 drop-shadow-lg shadow-black p-3 rounded-md">
                    <div class="flex items-start gap-3 ">
                        <div>
                            <div
                                class="w-20 card relative rounded-md md:rounded-md  shadow-inner shadow-blue-500 overflow-hidden">
                                <a href="">
                                    <img alt="{{movie.title}}" class="object-cover lozad"
                                        data-src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
                                        src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}">
                                </a>
                                <div
                                    class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col text-white ">
                            <div class="font-abrilbold text-2xl">{{ movie.title }} <span
                                    class="font-myfontLight">{{ release_year }}</span></div>
                            <div class="mt-1 font-myfontLight text-bold tracking-wider"> <input type="checkbox"
                                    name="shouldlog" id="">
                                Watched on (add to diary) <input 
                                    class="focus:outline-none text-letterboxd-6 bg-letterboxd-2 rounded-sm p-1 text-xs"
                                    type="date" name="date" id="datePicker">
                            </div>
                        </div>
                        <div class="">
                            <div id="review-cancel-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div>
                        <textarea name="review"
                            class="focus:outline-none mt-4 text-black font-myfontLight p-3 peer block min-h-[auto] w-full rounded border-0 bg-white py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                            id="reiview" rows="4" placeholder="Your review"></textarea>
                        <input type="hidden" name="tmdb_id" value="{{ movie.id }}">
                        <input type="hidden" name="title" value="{{ movie.title }}">
                        <input type="hidden" name="poster_path" value="{{ movie.poster_path }}">
                        <input type="hidden" name="director" value="{{ director }}">
                        <input type="hidden" name="release_year" value="{{ release_year }}">
                        <div class="mt-3">
                            <button class="bg-letterboxd-4 font-myfont trakinking widest py-1 px-2 rounded-sm"
                                type="submit">SAVE</button>
                        </div>
                    </div>
            </form>
        </div>

    </main>
    <div id="end-spacing" class="h-16 w-screen"></div>
    {% include 'main/footer.html' %}
<script src="{% static 'main/js/utilitesFunction.js' %}"></script>
<script src="{% static 'films/js/script.js' %}"></script>
<script src="{% static 'films/js/chart.js' %}"></script>
<script src="{% static 'films/js/ratings.js' %}"></script>
<script src="{% static 'main/js/navbar.js' %}"></script>


</body>
</html>
