{% extends "films/films_base.html" %}
{% block content %}
   <div id="grid-section" class="grid grid-cols-4 mt-6 md:mt-12 sm:grid-cols-5 md:grid-cols-6  lg:grid-cols-10 gap-x-3 gap-y-2 grid-row-[auto]">

            <div class="col-span-4 md:col-span-6 sm:col-span-5 lg:col-span-10 flex gap-x-6 border-b mb-2 font-myfontLight tracking-wider  border-gray-400">
                <div class="text-letterboxd-4 border-b  border-letterboxd-5">Watched</div>
                <div><a href="{% url 'filmsabout:diary' search_user.username %}">Diary</a></div>
                <div> <a href="{% url 'filmsabout:showWatchlist' search_user.username %}">Watchlist</a></div>
            </div> 

           {% for movie in movies %} 
            {% include "films/cards.html" %}
           {% endfor %}

    </div>

        {% if len == 0 %}
             <div class="flex h-64    justify-center items-center center h-33 text-2xl font-myfontLight text-gray-300">
                <div>No Movies in Watched list </div>
             </div>
           {% endif %}


{% endblock %}