{% extends 'films/films_base.html' %}
{% load custom_tags %}

{% block content %}
<div class="mb-28 mt-8">

    {% for review in reviews %}
    <div id="reviews" class="border-t border-letterboxd-3 flex py-3">

        <div class="grow-0 mr-6">
            <div class="w-20 relative card rounded-md  shadow-inner shadow-blue-500 overflow-hidden">
                <a href="{% url  'filmsabout:film' review.movie.tmdb_id %}">
                    <img class="object-cover lodaz"
                        data-src="https://image.tmdb.org/t/p/original{{ review.movie.poster_path }}"
                        src="https://image.tmdb.org/t/p/w200{{ review.movie.poster_path }}">
                    <div
                        class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                    </div>
                </a>
            </div>

        </div>

        <div class="text-lg font-myfontLight flex flex-col">
            <div class="font-abrilbold">
                <a href="{% url  'filmsabout:film' review.movie.tmdb_id %}"> {{ review.movie.original_title }} <span
                        class="font-myfontLight text-letterboxd-3" class="font-myfontLight">
                        {{ review.movie.release_year }} </span>
            </div>
            <div id="rating-watched_on" class="mb-2 text-xs py-1 text-letterboxd-4 font-starrating">
                <div class="flex ">
                    {% rating_to_stars search_user review.movie.tmdb_id as stars%}
                    {% for star in stars %}
                    <div class="star">
                        {{ star }}
                    </div>
                    {% endfor %}
                    <div class="font-myfontLight text-letterboxd-3">
                        Watched on {{review.date}}
                    </div>
                </div>
            </div>
            <div id="review" class="mb-4 font-abril text-sm md:text-md text-gray-400">
                {{ review.review }}
            </div>
            <div class="flex items-center gap-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="fill-letterboxd-3 stroke-letterboxd-3 w-3 h-3">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                </svg>
                {% if review.liked_by.count == 0 %}
                <span class="text-sm text-letterboxd-3 font-myfontLight">no likes yet </span>
                {% else %}
                <span class="text-sm text-letterboxd-3 font-myfontLight">{{ review.liked_by.count }}</span>
                {% endif %}
            </div>
        </div>

    </div>
    {% endfor %}

</div>
{% endblock %}