<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'tailwindcss/flixapp.css' %}">
   
    <title>Welcome Page of my App</title>
   
  </head>
  <body>
      <form action="/signout/" method=get>
          {% csrf_token %}
          <div class="">
              <h1 >this is home page</h1>
              <strong> Welcome: {{ user.username }} </strong>
              </br>
              <button type="submit">signout</button>
          </div>
  </body>
  
  
</html>