       <nav class="absolute  z-50 bg-letterboxd-1 text-slate-100 w-screen">
          <div class="p-2 md:px-9">
          <!---- navbar content ----->
              <div class=" w-full mx-auto shadow flex items-center justify-between">
                  <!----- logo ----->
                  <div class="logo">
                    <!---  <img class="inline h-6" src="./images (9).jpeg">  --->
                    <h1 class="font-myfont text-letterboxd-2">Flixld</h1>
                  </div>
                  
                  <!---------  buttons --------->
                  <div class="flex items-center space-x-5 ">
                      <button id="signin_btn">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="stroke-letterboxd-3 fill-letterboxd-3 w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                          </svg>
                      </button>
                       <button id="options_btn">
                           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="stroke-letterboxd-3 fill-letterboxd-3 w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                           </svg>
                       </button>
                      <button id="search_btn">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="stroke-letterboxd-3 w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                           </svg>
                       </button>
                   </div>
              </div>
           </div>
         
         <!----- signin menu ----->
            <div id="signin_menu" class="w-screen bg-letterboxd-1 overflow-hidden hidden px-2 md:py-2 md:px-16 text-letterboxd-3 drop-shadow-2xl">
                 <form action="{% url 'authentication:signin' %}" method="post">
                     {% csrf_token %}
                    <div class="m-2">
                     <label class="text-xs" for="username">Username or Email </label> <br>
                     <input name="username" class="px-2 focus:outline-0 focus:bg-white bg-letterboxd-2 h-9 w-full rounded-sm" type="text" name="username"> </input><br>
                    </div>
                    <div class="m-2">
                     <label class="text-xs" for="Password">Password</label><br>
                     <input name="password" class="px-2 focus:outline-0 focus:bg-white text-black bg-letterboxd-2 h-9 w-full rounded-sm" type="password">
                    </div>
                    <div class="my-5 mx-2 flex items-center justify-between text-xs md:justify-between">
                      <div class="flex items-center">
                          <input class="h-3 mr-1 bg-red-400 accent-letterboxd-3" type=checkbox>Remember
                       </div>
                       <div class="md:w-[650px]">
                         <a class="text-letterboxd-4">forgotten?</a>
                       </div>
                      <button class="bg-letterboxd-4 py-1 px-3 font-bold rounded-sm text-white shadow-inner tracking-widest ">SIGN IN </button>
                    </div>
                </form>
            </div>
            <!----- search ------>
            <div id="search_feild" class="hidden bg-letterboxd-1 p-4 text-gray-500 relative">
                <input type="text" class="h-9 w-full rounded-sm focus:outline-0 focus:bg-white focus:text-slate-400 p-3 bg-letterboxd-2">
                <button class="absolute right-6 top-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="stroke-amber-100 w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>

                </button>
                </input>
            </div>
            <!------ list ------>
            <div id="menu_field" class="h-0 duration-500 overflow-hidden">
            <div class="p-5 md:p-16 text-letterboxd-3 font-myfont tracking-wider">
                <ul class="flex flex-col ">
                    <li class="pb-2 border-b border-letterboxd-3">CREATE ACCOUNT</li>
                    <li class="py-2 border-b border-letterboxd-3">FILMS</li>
                    <li class="py-2 border-b border-letterboxd-3">LISTS</li>
                    <li class="py-2 border-b border-letterboxd-3">MEMBERS</li>
                    <li class="py-2 ">JOURNAL</li>
                </ul>
            </div>
            </div>
            
            {% if messages %}
              {% for message in messages %}
            <div id="alert" class="absolute py-4 z-50 w-screen">
                <div class="relative bg-letterboxd-5 py-3 px-3 w-80 m-auto text-myfontlight text-sm rounded-md shadow-lg shadow-black flex items-center justify-between">
                    {{ message }}
                    <button id="alert-btn" class="">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </button>  
                </div>
            </div>
              {% endfor %}
            {% endif %}
      </nav>
      
      