  <div class="flex ">
      <button id="clear-stars">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 class">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>

      </button>
      <fieldset class="rate">
          <input class="star-btn 5" type="radio" id="rating10" name="rating" 
              value="5" /><label for="rating10" title="5 stars"></label>
          <input class="star-btn 4-5" type="radio" id="rating9"  name="rating"
              value="4.5" /><label class="half" for="rating9" title="4 1/2 stars"></label>

          <input class="star-btn 4" type="radio" id="rating8"  name="rating"
              value="4" /><label for="rating8" title="4 stars"></label>
          <input class="star-btn 3-5" type="radio" id="rating7"  name="rating"
              value="3.5" /><label class="half" for="rating7" title="3 1/2 stars"></label>

          <input class="star-btn 3" type="radio" id="rating6"  name="rating"
              value="3" /><label for="rating6" title="3 stars"></label>

          <input class="star-btn 2-5" type="radio" id="rating5"  name="rating"
              value="2.5" /><label class="half" for="rating5" title="2 1/2 stars"></label>

          <input class="star-btn 2" type="radio" id="rating4"  name="rating"
              value="2" /><label for="rating4" title="2 stars"></label>

          <input class="star-btn 1-5" type="radio" id="rating3"  name="rating"
              value="1.5" /><label class="half" for="rating3" title="1 1/2 stars"></label>

          <input class="star-btn 1" type="radio" id="rating2"  name="rating"
              value="1" /><label for="rating2" title="1 star"></label>

          <input class="star-btn 0.5" type="radio" id="rating1"  name="rating"
              value="0.5" /><label class="half" for="rating1" title="1/2 star"></label>

      </fieldset>
  </div>