{% extends 'profile_page/following_followers.html' %}
{% load static %}
{% load profile_tags %}

{% block content %}
<div class="flex gap-4">
    <span><a href="" class="text-letterboxd-4">following</a></span>
    <span><a href="{% url 'profiles:followers' search_user.username %}">followers</a></span>
</div>

<table cellpading="0" cellspacing="0" class="w-full mt-1 font-myfontLight text-xs">
    <thead class="font-myfontLight text-letterboxd-3"></thead>
    <tr class="text-left bg-letterboxd-1 md:table-row hidden">
        <th class="uppercase border-y border-letterboxd-3 py-1 pl-0">Name</th>
        <th class="uppercase border-y border-letterboxd-3 py-1 pl-1">Watched</th>
        <th class="uppercase border-y border-letterboxd-3 py-1 pl-4">Lits</th>
        <th class="uppercase border-y border-letterboxd-3 py-1 pl-4">liked</th>
        <th class="table-cell uppercase border-y border-letterboxd-3 py-1 pl-4"></th>
    </tr>
    </thead>
    <tbody>
        {% for following in followings %}
        <tr class="md:border-b border-y border-letterboxd-3">
            <td class="flex gap-2 items-center py-3">
                <a href="{% url 'profiles:user_profile' following.user.username %}"><img
                        class="w-12 gap-10 object-cover rounded-full"
                        src="{{ following.user.profile.profile_picture.url }}"></a>
                <div class="">
                    <span class="block font-myfont hover:underline text-white text-lg"><a
                            href="{% url 'profiles:user_profile' following.user.username %}">{{following.user.username}}</a></span>
                    <span class="block font-myfontLight text-letterboxd-3"><span class="hover:text-letterboxd-6"><a
                                href="{% url 'profiles:following' following.user.username %}">{{following.following.count}}
                                following</a></span>, <span
                            class="hover:text-letterboxd-6"> <a href="{% url 'profiles:followers' following.user.username %}">{{following.followers.count}}
                            followers</a></span></span>
                </div>
            </td>
            <td class="hidden md:table-cell">
                <div class="flex items-start gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="inline-block w-5 h-5 stroke-letterboxd-1 fill-letterboxd-4 ">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                    <span class="font-myfontLight text-md">{{ following.user.movies_set.count }}</span>

                </div>
            </td>
            <td class="hidden md:table-cell">
                <div class="flex items-start gap-1 ">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        class="w-4 h-4" viewBox="0 0 376 501" xml:space="preserve">
                        <desc>Created with Fabric.js 5.3.0</desc>
                        <defs>
                        </defs>
                        <g transform="matrix(2.53261153 0 0 3.4425315975 90.2699470204 122.490912698)"
                            id="iIpvUgTsqaiq9Yk-M2LKW">
                            <path
                                style="stroke: rgb(62,216,46); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(96,165,250); fill-rule: nonzero; opacity: 1;"
                                vector-effect="non-scaling-stroke" transform=" translate(0, 0)"
                                d="M -35.41076 -35.41076 L 35.41076999999999 -35.41076 L 35.41076999999999 35.41076999999999 L -35.41076 35.41076999999999 z"
                                stroke-linecap="round" />
                        </g>
                        <g transform="matrix(2.53261153 0 0 3.4425315976 90.2699473433 379.6927929963)"
                            id="GubjC_E1RReHbF2SyikEi">
                            <path
                                style="stroke: rgb(62,216,46); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(96,165,250); fill-rule: nonzero; opacity: 1;"
                                vector-effect="non-scaling-stroke" transform=" translate(0, 0)"
                                d="M -35.41076 -35.41076 L 35.41076999999999 -35.41076 L 35.41076999999999 35.41076999999999 L -35.41076 35.41076999999999 z"
                                stroke-linecap="round" />
                        </g>
                        <g transform="matrix(2.53261153 0 0 3.4425315976 286.0170141438 379.6927929963)"
                            id="dM9o1NzZz6T9DhR-4Sylc">
                            <path
                                style="stroke: rgb(62,216,46); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(96,165,250); fill-rule: nonzero; opacity: 1;"
                                vector-effect="non-scaling-stroke" transform=" translate(0, 0)"
                                d="M -35.41076 -35.41076 L 35.41076999999999 -35.41076 L 35.41076999999999 35.41076999999999 L -35.41076 35.41076999999999 z"
                                stroke-linecap="round" />
                        </g>
                        <g transform="matrix(2.53261153 0 0 3.4425315987 286.0170138209 122.4909131798)"
                            id="iCWdBnXg81o61Hnoli7BU">
                            <path
                                style="stroke: rgb(62,216,46); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(96,165,250); fill-rule: nonzero; opacity: 1;"
                                vector-effect="non-scaling-stroke" transform=" translate(0, 0)"
                                d="M -35.41076 -35.41076 L 35.41076999999999 -35.41076 L 35.41076999999999 35.41076999999999 L -35.41076 35.41076999999999 z"
                                stroke-linecap="round" />
                        </g>
                    </svg>
                    <span class="text-md">{{following.user.lists.count }}</span>
                </div>
            </td>

            <td class="hidden md:table-cell">
                <div class="flex gap gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke=""
                        class="w-5 h-5 fill-letterboxd-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                    </svg>
                    <span class="text-md">{{ following.user.liked_movies_set.count }}</span>
                </div>
            </td>

            <td class="">
                {% if following.user.username != user.username %}
                <label for="{{ forloop.counter }}">
                    <svg id="icon-{{forloop.counter}}" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="w-6 h-6  {% is_following user following.user.username 'fill-letterboxd-4' '' %}">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <input id="{{ forloop.counter }}" data-username="{{following.user.username }}"
                        {% is_following user  following.user.username "checked" "unchecked" %} type="checkbox"
                        class="follow hidden" id="f" name="follow">
                </label>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}