{% load static %}
{% load profile_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="{% static 'tailwindcss/flixapp.css' %}">
    <script src="{% static 'main/js/lazyload.js' %}"></script>
</head>

<body
    class="bg-gradient-to-tl from-[#2A394E] to-[#0E0E0F] scrollbar-thin scrollbar-track-transparent scrollbar-thumb-letterboxd-2  min-h-screen  font-myfontLight text-xs sm:text-sm md:text-md lg:text-lg text-white">



    {% include 'main/navbar.html' %}









    <div class="mt-20 md:mt-28 px-5 sm:px-12 md:px-24 lg:px-64 ">

        <div id="profile-intro"
            class="flex flex-col border-b border-letterboxd-2 pb-4  lg:flex-row gap-y-4 justify-center md:justify-between items-center">
            <div id="pfp-name" class="basis-1/2 flex gap-4">
                <div id="pfp" class="shrink-0">
                    <img class="w-24 object-cover rounded-full" src="{{ user_profile.profile.profile_picture.url }}">
                </div>
                <div id="name-profile" class="flex flex-col gap-1 items-start justify-center">
                    <div class="font-myfont text-2xl p-0 flex items-start gap-3">
                        {{ user_profile.username }}
                        {% if user_profile.username == user.username %}
                        <div class="bg-letterboxd-3 rounded-md text-xs self-end tracking-widest px-2 py-1 font-myfont">
                            <a href="{% url 'profiles:settings' user.username %}">EDIT
                                PROFILE</a></div>
                        {% else %}
                        {% if user.is_authenticated %}
                        <label>
                            <div id="followuser"
                                class="bg-letterboxd-3 rounded-md text-sm tracking-widest px-2 py-1 font-myfont">
                                <div id="follow-btn-text">
                                    {% is_following user user_profile.username "unfollow" "follow" %}
                                </div> <input {% is_following user user_profile.username "checked" "unchecked" %}
                                    id="follow-btn" type="checkbox" class="hidden" name="follow" id="">
                            </div>
                        </label>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="text-xs text-letterboxd-3">
                        {{user_profile.profile.bio}}
                    </div>
                    <div class="text-letterboxd-3 text-sm font-bold m-0">india</div>

                </div>
            </div>


            <div id="profile-numbers" class="flex flex-wrap justify-center text-letterboxd-3 font-myfontLight">
                <a href="{% url 'filmsabout:showWatched' username %}">
                    <div class="px-4 border-letterboxd-3  text-center">
                        <div class="text-white font-abrilbold">{% films_watched_count username %}</div>
                        <div class="text-sm hover:text-letterboxd-5">FILMS</div>
                    </div>
                </a>
                <div class="px-4 border-l border-letterboxd-3 text-center">
                    <div class="text-white font-abrilbold ">
                        {% get_year_films_count user_profile  %}
                    </div>

                    <div class="text-sm hover:text-letterboxd-5">THIS YEAR</div>
                </div>
                <div class="px-4 border-l border-letterboxd-3 text-center">
                    <div class="text-white font-abrilbold">{% get_lists_count username %}</div>
                    <div class="text-sm hover:text-letterboxd-5"><a href="{% url 'list:showlists' username %}">LISTS</a>
                    </div>
                </div>
                <div class="px-4 border-l border-letterboxd-3 text-center">
                    <div class="text-white font-abrilbold">{% get_following_count username %}</div>
                    <div class="text-sm hover:text-letterboxd-5"> <a href="{% url 'profiles:following' username %}">FOLLOWING</a></div>
                </div>
                <div class="px-4 border-l border- border-letterboxd-3 text-center">
                    <div class="text-white font-abrilbold">{% get_followers_count username %}</div>
                    <div class="text-sm hover:text-letterboxd-5"><a href="{% url 'profiles:followers' username %}">FOLLOWERS</a></div>
                </div>
            </div>
        </div>

        <section
            class="mt-14 gap-x-24 gap-y-6 grid grid-rows-[auto,auto,auto,auto,auto] md:grid-rows-[auto,auto,auto,auto] grid-cols-1 md:grid-cols-[auto,auto]">

                {% if favs %}
                <div class="text-letterboxd-3"> No Favroite </div>
                {% else %}
            <div class="grid grid-cols-4 grid-row-[auto,auto] gap-2 mt-2">
                <h1 class=" text-letterboxd-3 border-b col-span-4 border-letterboxd-2 py-1">favroite films</h1>
                <div>
                    <div class=" card relative hover:border border-white shadow-md shadow-black  overflow-hidden">
                        {% topTmdb_id top4.one as tmdb_id %}
                        <a href="{% url 'filmsabout:film' tmdb_id %}">
                            <img class="object-cover lozad"
                                data-src="{% topPosterPath top4.one %}"
                                src="{% topPosterPath top4.one %}">
                            <div
                                class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                            </div>
                        </a>
                    </div>
                </div>
                <div>
                    <div class=" card relative  hover:border border-white shadow-sm shadow-black  overflow-hidden">
                        {% topTmdb_id top4.two as tmdb_id %}
                        <a href="{% url 'filmsabout:film' tmdb_id %}">
                            <img class="object-cover lozad"
                                data-src="{% topPosterPath top4.two %}"
                                src="{% topPosterPath top4.two %}">
                            <div
                                class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                            </div>
                        </a>
                    </div>
                </div>
                <div>
                    <div class=" card relative  hover:border border-white shadow-sm shadow-black  overflow-hidden">
                        {% topTmdb_id top4.three as tmdb_id %}
                        <a href="{% url 'filmsabout:film' tmdb_id %}">
                            <img class="object-cover lozad"
                                data-src="{% topPosterPath top4.three %}"
                                src="{% topPosterPath top4.three %}">
                            <div
                                class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                            </div>
                        </a>
                    </div>
                </div>

                <div>
                    <div class=" card relative  hover:border border-white shadow-sm shadow-black  overflow-hidden">
                        {% topTmdb_id top4.four as tmdb_id %}
                        <a href="{% url 'filmsabout:film' tmdb_id %}">
                            <img class="object-cover lozad"
                                data-src="{% topPosterPath top4.four %}"
                                src="{% topPosterPath top4.four %}">
                            <div
                                class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            {% endif %}

            <div class="side-bar row-span-4 w-auto md:w-44">
                <div class="watchlist  text-sm text-letterboxd">
                    <h1
                        class="py-1 flex justify-between text-xs border-b border-letterboxd-2 uppercase text-letterboxd-3">
                        <a href="{% url 'filmsabout:showWatchlist' username %}">Watchlist</a> <a>all</a></h1>
                    <div class="mt-2 gap-2 grid grid-cols-4">
                        {% for film in watchlist %}
                        <div class="">
                            <div class=" w-auto md:w-24 card relative  shadow-black rounded-lg overflow-hidden">
                                <a href="">
                                    <img class="object-cover lozad"
                                        data-src="https://image.tmdb.org/t/p/original{{ film.poster_path }}"
                                        src="https://image.tmdb.org/t/p/w200{{ film.poster_path }}">
                                    <div
                                        class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                                    </div>
                                </a>
                            </div>
                        </div>


                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-4 grid-row-[auto,auto] gap-2 mt-2">
                {%if recent_log_len == 0 %}
                    <div class="no films in watchlist"></div>
                {% else %}
                <h1 class=" text-letterboxd-3 border-b col-span-4 border-letterboxd-2 py-1"><a>Recent </a></h1>
                {% for log in recent_log %}
                <div>
                    <div class=" card relative hover:border border-white shadow-md  shadow-black  overflow-hidden">
                        <a href="{% url 'filmsabout:film' log.movie.tmdb_id %}">
                            <img class="object-cover lozad"
                                data-src="https://image.tmdb.org/t/p/original{{ log.movie.poster_path }}"
                                src="https://image.tmdb.org/t/p/w200{{ log.movie.poster_path }}">
                            <div
                                class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>

        </section>
    </div>
</body>
<script src="//cdn.jsdelivr.net/npm/eruda"></script>
<script>
    eruda.init();
</script>
<script src="{% static 'main/js/utilitesFunction.js' %}"></script>
<script src="{% static 'main/js/navbar.js' %}"></script>
<script src="{% static 'profiles/js/script.js' %}"></script>


</html>