<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="{% static 'tailwindcss/flixboxd.css%}">
</head>

<body class="bg-gradient-to-tl from-letterboxd-2 to-letterboxd-1 min-h-screen  font-myfontLight text-xs sm:text-sm md:text-md lg:text-lg text-white">
    {% include 'main/navbar.html' %}












    <div class=" px-5 sm:px-12 md:px-28 lg:px-56 mt-14">

        <div id="profile-intro" class="mt-28 mb-20 flex flex-col gap-10  lg:flex-row justify-center md:justify-between items-center">
            <div id="pfp-name" class="shrink-0 grid grid-cols-2 grid-rows-1 gap-4">
                <div id="pfp">
                    <img class="w-24 object-cover rounded-full" src="./pfp.jpg">
                </div>
                <div id="name-profile" class="flex flex-col gap-1 items-start justify-center">
                    <div class="font-myfont text-2xl p-0">Harshal</div>
                    <div class="text-letterboxd-3 font-bold m-0">india</div>
                    <div class="bg-letterboxd-3 rounded-md text-sm tracking-widest px-2 py-1 font-myfont"><button>EDIT PROFILE</button></div>
                </div>
            </div>


            <div id="profile-numbers" class="flex flex-wrap justify-center text-letterboxd-3 font-myfontLight">
                <div class="px-4  text-center"> <div class="text-white font-abrilbold">423</div><div class="text-sm">FILMS</div>   </div>
                <div class="px-4 border-l border-letterboxd-3 text-center"> <div class="text-white font-abrilbold">45</div> <div class="text-sm">THIS YEAR</div>  </div>
                <div class="px-4 border-l border-letterboxd-3 text-center"> <div class="text-white font-abrilbold">0</div> <div class="text-sm">LISTS</div>  </div>
                <div class="px-4 border-l border-letterboxd-3 text-center"> <div class="text-white font-abrilbold">21</div> <div class="text-sm">FOLLOWING</div>  </div>
                <div class="px-4 border-l border-letterboxd-3 text-center"> <div class="text-white font-abrilbold">21</div> <div class="text-sm">FOLLOWERS</div>  </div> 
            </div>
        </div>
        
    </div>
</body>

</html>