<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'tailwindcss/flixapp.css' %}">
 
    <title>Welcome Page of my App</title>
   
  </head>
  <body class="bg-letterboxd-1">
      
     {% include "main/navbar.html" %}
      
    
      
      
      <div id="content" class="text-white w-screen relative mb-56">
          <img id="top_background_image" src="{% static 'authentication/image/puss.jpg' %}" class="h-60 w-full object-cover gradient-mask-b-40 z-0 absolute md:h-[500px]">
          
          <div id="intro_block" class="bg-transparent relative z-10 mb-10">
              
              <div class="h-44 w-screen md:h-96"></div>
               <div class="w-screen flex flex-col items-center content-center">
                   <h1 class="mb-5 font-myfont text-4xl font-bold md:text-5xl md:mb-7">
                        Letterboxd
                   </h1>
                   <p class="mb-12 text-xl font-myfontLight w-72 text-center md:font-abrilbold md:w-[600px] md:text-4xl">
                        Track films you’ve watched. <br>
                        Save those you want to see.<br>
                        Tell your friends what’s good.
                    </p>
                
                    <button class="signup-btn mb-8 font-myfontLight tracking-widest w-64 rounded-md p-1 bg-letterboxd-4">
                        GET STARTED - SIGN UP
                    </button>
                    <div class="text-md text-letterboxd-3  font-myfontLight"> 
                        The social network for film lovers 
                    </div>
                
                </div>
            
            </div>
            
            
            
          <div id="trending showcase" class="mb-10">
            <div class="px-4 grid grid-cols-4 grid-rows-[auto,auto] gap-x-2 md:px-6 gap-y-2 md:gap-x-4">
               <div class="text-xs text-letterboxd-3 col-span-4  font-myfontLight border-b-[1px] py-1  border-letterboxd-3">
                   Trending..
                </div>
                <div class="card relative rounded-md  shadow-inner shadow-blue-500 overflow-hidden">
                        <a href="">
                        <img class="object-cover" src="{% static 'authentication/image/batman.jpg' %}">
                       </a>
                       <div class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0"></div>
                 
                </div>
                <div class=" relative card rounded-md  shadow-inner shadow-blue-500 overflow-hidden">
                        <a href="">
                        <img class="object-cover " src="{% static 'authentication/image/john3.jpg' %}">
                       </a>
                       <div class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0"></div>
                 
                </div>
                <div class=" relative card  rounded-md  shadow-inner shadow-blue-500 overflow-hidden">
                        <a href="">
                        <img class="object-cover " src="{% static 'authentication/image/pastl.jpg' %}">
                       </a>
                       <div class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0"></div>
                 
                </div>
                <div class=" relative card rounded-md  shadow-inner shadow-blue-500 overflow-hidden">
                        <a href="">
                        <img class="object-cover " src="{% static 'authentication/image/parasite.jpg' %}">
                       </a>
                       <div class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0"></div>
                 
                </div>
            </div>
            </div>
           
            

            
            
       {% include "authentication/signup.html" %}
    </div>
    
           
      
      
  </body>
  
  <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>
    
    <script src="{% static 'authentication/navbar.js' %}"></script>

</html>