<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'tailwindcss/flixapp.css' %}">
 
    <title>Welcome Page of my App</title>
   
  </head>
  <body class="">
    <div class=" flex items-center justify-center  h-screen">
        <div>
	      <a href="{% url 'authentication:signin' %}">signin</a> 
	       <a href="{% url 'authentication:signup' %}">signup</a> 
        </div>
      </div>
  </body>
  
  <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>

</html>