       <div id="signup" class="hidden   font-myfontLight flex items-center justify-center fixed z-40 top-0 h-screen w-screen bg-transparent">
           <div id="signup-form" class="w-80 bg-letterboxd-3 p-4 rounded-md relative shadow-2xl shadow-black">
                <div class="flex items-start">
                   <h1 class="pb-4 text-slate-400 w-72  tracking-widest"> JOIN LETTERBOXD </h1>
                   <button class="signup-btn">
                       <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hover:stroke-letterboxd-5 stroke-slate-400 w-7 h-7">
                           <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                       </svg>
                   <button>

                </div>
               <form action="{% url 'authentication:signup' %}" method="post" class="flex flex-col gap-4 text-sm text-white text-opacity-80">
                   {% csrf_token %}
                   <div>
                   <label class="">Email Address</label> <br>
                   <input name="email_address" type=email class="p-2 text-gray-700 my-1 h-8 w-full rounded-sm bg-letterboxd-6 focus:outline-0 focus:bg-white focus:shadow-lg" >
                  </div>
                  
                  <div>
                   <label class="">First Name</label> <br>
                   <input name="first_name" type=text class="p-2 text-gray-700 my-1 h-8 w-1/2 rounded-sm bg-letterboxd-6 focus:outline-0 focus:bg-white focus:shadow-lg" >
                  </div>
                  
                   <div>
                   <label class="">Last Name</label> <br>
                   <input name="last_name" type=text class="p-2 text-gray-700 my-1 h-8 w-1/2 rounded-sm bg-letterboxd-6 focus:outline-0 focus:bg-white focus:shadow-lg" >
                  </div>
                  
                  <div>
                   <label class="">Username</label> <br>
                   <input name="username" type=text class="p-2 text-gray-700 my-1 h-8 w-1/2 rounded-sm bg-letterboxd-6 focus:outline-0 focus:bg-white focus:shadow-lg" >
                  </div>
                  
                  <div>
                   <label class="">Password</label> <br>
                   <input name="password" type=password class="p-2 text-gray-700 my-1 h-8 w-1/2 rounded-sm bg-letterboxd-6 focus:outline-0 focus:bg-white focus:shadow-lg" >
                  </div>
                  <div>
                   <label class=""> Confirm Password </label> <br>
                   <input name="confirm_password" type="password" class="p-2 text-gray-700 my-2 h-8 w-1/2 rounded-sm bg-letterboxd-6 focus:outline-0 focus:bg-white focus:shadow-lg">
                 </div> 
                 <div>
                   <button type=submit class="font-myfont tracking-widest hover:bg-letterboxd-5 bg-letterboxd-4 text-xs px-3 py-2 rounded-sm">
                       SIGN UP
                    </button>
                   </div>
                   
               </form>
                   
           </div>
           
        </div>
       