{% load static %}

<div id="trending showcase" class="mb-10">
    
<div class="hidden md:grid grid-cols-6 grid-rows-[auto,auto] gap-x-2 md:px-6 gap-y-2 md:gap-x-4">
        <div class="text-xs text-letterboxd-3 col-span-6 font-myfontLight border-b-[1px] py-1  border-letterboxd-3">
                   Trendig..
        </div>
        {% for movie in movies %}
        <div class="card relative rounded-md  shadow-inner shadow-blue-500 overflow-hidden">
            <a class="" href="{% url  'films:film' movie.id %}">
                <img class="object-cover" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}">
                <div class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0"></div>
            </a>
                 
        </div>
        {% endfor %}
    </div>
    
    
    
        
        
    <div class="px-4 md:hidden grid grid-cols-4 grid-rows-[auto,auto] gap-x-2 gap-y-2">
        <div class="text-xs text-letterboxd-3 col-span-4 font-myfontLight border-b-[1px] py-1  border-letterboxd-3">
                   Trending..
        </div>
        {% for movie in movies_mobile %}
        <div class="card relative rounded-md  shadow-inner shadow-blue-500 overflow-hidden">
            <a class="" href="{% url  'films:film' movie.id %}">
                <img class="object-cover" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}">
                <div class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0"></div>
            </a>
                 
        </div>
        {% endfor %}
    </div>
</div>
           