{% extends "films/films_base.html" %}
{% load static %}

{% block content %}

<section class="text-letterboxd-6 mt-8 sm:mt-10 md:mt-14 text-2xl font-myfontLight">
    <h1 class="text-letterboxd-3 px-3 py-2 border-b border-letterboxd-3">All Lists</h1>


    <div id="list-addbttn" class="grid grid-cols-[auto] grid-rows-2 md:grid-cols-[auto,auto] gap-x-6 md:grid-rows-[auto]">
        <div id=lists class="">

            <div id="list-item" class="flex flex-col md:flex-row gap-x-12 mb-4 gap-y-4 border-b py-4 border-letterboxd-3 ">

                <div class=" grid grid-cols-4 w-44  shrink-0 ">
                    <div
                        class="card self-start relative w-16 z-50 rounded-md  shadow-sm shadow-black  overflow-hidden">
                        <img class="object-cover lozad" data-src="{% static 'john3.jpg' %}"
                            src="{% static 'john3.jpg' %}">
                        <div
                            class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                        </div>
                    </div>
                    <div
                        class="card relative  self-start w-16 z-40 rounded-md shadow-lg shadow-black  overflow-hidden">
                        <img class="object-cover lozad" data-src="{% static 'authentication/image/batman.jpg' %}"
                            src="{% static 'authentication/image/batman.jpg' %}">
                        <div
                            class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                        </div>
                    </div>
                    <div
                        class="card relative self-start   w-16 z-30 shadow-lg rounded-md shadow-black  overflow-hidden">
                        <img class="object-cover lozad" data-src="{% static 'authentication/image/parasite.jpg' %}"
                            src="{% static 'authentication/image/parasite.jpg' %}">
                        <div
                            class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                        </div>
                    </div>
                    <div
                        class=" card relative self-start  w-16 z-20 shadow-lg shadow-black rounded-md  overflow-hidden">
                        <img class="object-cover lozad" data-src="{% static 'authentication/image/pastl.jpg' %}"
                            src="{% static 'authentication/image/pastl.jpg' %}">
                        <div
                            class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                        </div>
                    </div>
                    
                </div>
                <div class="list-info grow-0 md:basis-1/2">
                    <div class="name text-md">my list</div>
                    <div class="no-films text-sm mb-2">9 film</div>
                    <div class="discription text-sm font-abril">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet officiis explicabo laborum nostrum fuga. Velit nobis doloremque deserunt sapiente, tempore illum nam error.</div>
                </div>
            </div>
        </div>
        <div id="addbtn" class= "py-4">
            <div class="bg-letterboxd-3 text-center text-letterboxd-6 px-12 py-2 text-sm">
                start a new list
            </div>
        </div>
    </div>
</section>

{% endblock %}