{% extends "films/films_base.html" %}
{% load static %}
{% load lists_tags %}

{% block content %}

<section class="text-letterboxd-6 mt-5 sm:mt-6 md:mt-9 text-2xl font-myfontLight mb-24">


    <div id="list-addbttn"
        class="grid grid-cols-[auto] grid-rows-[auto,auto,auto] sm:grid-cols-[auto,auto]  sm:grid-rows-[auto] gap-x-4">
        <h1 class="text-letterboxd-3 px-3 py-2 ">All Lists</h1>
        {% if search_user.username == user.username%}
        <div id="addbtn" class="py-4 md:row-span-2">
            <a href="{% url 'list:newlist' %}">
                <div class="bg-letterboxd-3 text-center text-letterboxd-6 px-6    py-2 rounded-md  text-xs">
                    start a new list
                </div>
            </a>
        </div>
        {% else %}
        <div></div>
        {% endif %}
        <div id=lists class="border-t border-letterboxd-2">
            {% for l in lists%}
            <div id="list-item"
                class="flex flex-col md:flex-row gap-x-16 mb-4 gap-y-4 border-b py-4 border-letterboxd-2 ">

                <div class=" grid grid-cols-5 w-52  shrink-0 ">
                    {% for poster in l.posters %}
                    <div
                        class="card self-start relative w-20 z-{% subtract 40 10 forloop.counter0  %} rounded-md   overflow-hidden">
                        <img class="object-cover lozad"
                            data-src="{% checkPoster poster 'original' %}"
                            src="{% checkPoster poster 'w200' %}">
                        <div
                            class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="list-info shrink-0 grow-0 basis-3/5 ">
                    <div class="name text-md font-myfont text-letterboxd-6"><a href="{% url 'list:showlist' search_user.username l.list.id %}">{{ l.list.name }}</a></div>
                    <div class="no-films text-sm mb-2 text-gray-400">9 film</div>
                    <div class="discription text-sm text-gray-400 font-abril">{{l.list.description }}</div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock %}