{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tailwindcss/flixapp.css' %}">
    <script src="{% static 'main/js/lazyload.js' %}"></script>
    <title>new list </title>
</head>

<body
    class="bg-gradient-to-tl text-letterboxd-6 from-[#2A394E] to-[#0E0E0F] overflow-x-hidden  max-w-screen min-h-screen scrollbar-thin scrollbar-track-[#2A394E] scrollbar-thumb-letterboxd-1">
    {% include 'main/navbar.html' %}
    <div class="mt-7 md:mt-16 px-5 sm:px-20 lg:px-32 borde border-white">
        <h1 class="pt-12 pb-3 font-myfontLight text-letterboxd-3 text-2xl lg:text-3xl border-b border-letterboxd-2">
            {% if page_type == 'editlist' %}
            Edit List
            {% else %}
            New List
            {% endif %} 
        </h1>

        <section
            class="grid md:grid-cols-[auto,auto] gap-3  md:gap-8 md:grid-rows-[auto,auto,auto] grid-cols-[auto] grid-rows-[auto,auto,auto,auto]">
            <div id="name_of_list" class="mt-2">
                <label  class="text-sm text-letterboxd-3">Name of list</label>
                <input data-id="{{ user_list.id }}" type="text" id="list_name" name="first_name" placeholder="{{ user_list.name }}"
                    class="focus:outline-none p-3 w-full mt-1 h-9 bg-letterboxd-2 rounded-md">
            </div>
            <div class="mt-2 md:row-span-3">
                <label class="text-sm text-letterboxd-3">Discription for list</label>
                <textarea id="list_desc" placeholder="{{user_list.description}}" rows="4" name="bio"
                    class="resize-none  p-3 focus:outline-none mt-1 w-full  rounded-md bg-letterboxd-2 h-full"></textarea>

            </div>
            <div class="flex gap-2 items-start overflow-visible mt-8 md:mt-0">
                <a id="addmoviebtn" class="bg-letterboxd-4 text-xs font-myfont px-2 py-1 md:px-5 md:py-2">Add movie</a>
                <div class="relative">
                    <input type="text" name="" id="movie-search" placeholder="at least one film should include in list"
                        class="text-letterboxd-2 focus:outline-none p-3 w-full h-9 bg-white">
                    <div id="search-reults" class="bg-letterboxd-3 absolute w-full z-50 text-xs text-letterboxd-6">
                        <u id="result_list" class="list-none no-underline">
                        </u>

                    </div>
                </div>
            </div>
            <div class="flex gap-2 font-myfont text-sm tracking-wider text-letterboxd-6">
                {% if page_type == "newlist" %}
                <a id="save-list" class="bg-letterboxd-4 px-2 py-1">Save</a>
                {% else %}
                <a id="delete-list-btn" data-id="{{user_list.id}}" class="bg-letterboxd-3 px-2 py-1 hover:bg-opacity-50 cursor-pointer">Delete</a>
                <a id="update-list" class="cursor-pointer hover:bg-opacity-50 bg-letterboxd-4 px-2 py-1">update</a>
                {% endif %}
                <a class="bg-letterboxd-3 px-2 py-1">Cancel</a>
            </div>
        </section>
        <section id="list" class="mt-11 ">
            {% for movie in user_list.movies.all %}
            <div id="" data-id="{{ movie.tmdb_id }}" data-title="{{ movie.title }}" data-poster_path="{{ movie.poster_path }}" data-release_year="{{ movie.release_year }}"
                class="list-element border border-letterboxd-2 p-2 flex items-center gap-x-3 font-abrilbold text-letterboxd-6 text-lg">
                <div class="card relative rounded-sm self-start  overflow-hidden">
                    <img class="lozad object-cover w-9" data-src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}"
                        src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}">
                    <div
                        class="absolute shadow-[inset_0.1px_0.1px_3px_rgba(0,0,0,0.2)] shadow-white top-0 left-0 right-0 bottom-0">
                    </div>
                </div>
                <div class="flex flex-col basis-full">
                    <span>{{ movie.original_title }} ({{movie.release_year }}) </span>
                    <a class="text-sm w-fit p-1 font-myfontLight border border-letterboxd-2">Add Note</a>
                </div>
                <a class="self-center p-3" onclick="handleRemove(event)">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </a>
            </div>
            {% endfor %}
            
        </section>

    </div>

</body>
<script src="{% static 'main/js/utilitesFunction.js' %}"></script>
<script src="{% static 'main/js/navbar.js' %}"></script>
<script src="{% static 'lists/js/script.js' %}"></script>

</html>